{% extends 'base.html'%}

{% block content %}
<table>
    <tbody>
        <form method="POST">
        <tr>
            <td colspan="2"><h1>Signup</h1></td>
        </tr>
        <tr>
            <td class='label'>Username: </td>
            <td class='inptxt'><input type='text' name='username' id='username' value='{{username}}'> <span class='err'> {{username_error}}</span></td>
        </tr>
        <tr>
            <td class='label'>Password: </td>
            <td class='inptxt'><input type='password' name='password' id='password' value=''> <span class='err'> {{password_error}}</span></td>
        </tr>
        <tr>
            <td class='label'>Verify Password: </td>
            <td class='inptxt'><input type='password' name='vpassword' id='vpassword' value=''> <span class='err'> {{vpassword_error}}</span></td>
        </tr>
        <tr>
            <td class='label'>Email (optional): </td>
            <td class='inptxt'><input type='text' name='email' id='email' value='{{email}}'> <span class='err'> {{email_error}}</span></td>
        </tr>
        <tr>
            <td colspan="2"><br><input type='submit' name='Submit'></td>
        </tr>
        </form>
    </tbody>
</table>
{% endblock %}